#page{
    background: white !important;
}
#header{
    border-top: 0px solid #C8CAD5 !important; 
}
#sidebar{
    padding: 0px !important;
}
.my{
    border: 1px solid #C7C7C7;
    background-color: #EFEFEF;
    width: 106px;
    margin-right: 14px;
    height: 106px;
    float: left;
    display: block;
    white-space: nowrap;
    text-align: center;
}
.mydiv{
	  width: 689px;
	  height:106px;
}
.someClass1{
	max-height:158px;
	max-width:158px;
        vertical-align: middle;
}
.someClass{
    max-height:106px;
    max-width:106px;
    vertical-align: middle;
}
.mycontent {
    border-top: none;
   
}
.btn-success {
  color: #fff;
  background-color: #6EA9D5;
  border-color: #4cae4c;
    cursor: pointer;	
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.form-group {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}
.form-control {
    display: block;
    width: 440px;
    height: 18px;
    padding: 6px 7px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #a7aeb5;
    border-radius: 5px;
}
.form-control-desc{
	display: block;
    width: 440px;
    height: 220px;
    padding: 6px 7px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #a7aeb5;
    border-radius: 5px;
}
.form-control-number{
    display: block;
    width: 160px;
    height: 18px;
    padding: 6px 7px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #a7aeb5;
    border-radius: 5px;
}
.form-control-drop{
    display: block;
    width: 455px;
    height: 35px;
    padding: 6px 7px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #a7aeb5;
    border-radius: 5px;
}
.control-label { 
	
    vertical-align: middle; 
    width: 166px;
    float: left;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 15px !important;
}
.control-label-top{
    vertical-align: middle; 
    width: 32px;
    padding-top: 3px;
    float: left;
    padding-right: 15px;
    font-size: 15px !important;
}
.form-control-top{
    display: block;
    width: 20px;
    height: 18px;
    padding: 6px 7px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #a7aeb5;
    border-radius: 5px;
}
.prof .leb{
    display: inline-block;
    vertical-align: top;
}
.myview{
    border: 1px solid #c7c7c7;
    background-color: #EFEFEF;
    width: 400px;
    height: 400px;
    margin-right: 8px;
    float: left;
    display: block;
    white-space: nowrap;
    text-align: center;
}
.pic{
    max-width: 400px;
    max-height: 400px;
    vertical-align: middle;
}
.inf{
	width: 490px;
	height: 402px;
	float:left;
}
.infm{
	padding-bottom: 6px;
    font-size: 20px;
    color: rgb(119, 112, 112);
    padding-left: 20px;
}
.inftitle{
	padding-bottom: 12px;
    font-size: 20px;
    color: rgb(119, 112, 112);
    padding-left: 20px;
}
.descr{
    font-size: 19px;
    color: rgb(113, 112, 111);
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    margin-bottom: 20px;
}
.myphone{
    position: absolute;
    margin-left: 122px;    
}
.mydate{
    position: absolute;
    margin-left: 666px;
    margin-top: 72px;
}
.myprice{
	position: absolute;
	margin-left: 123px;
	margin-top: 64px;
}
.btn_my{
	display: inline-block;
     padding: 2px 11px;
   margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none!important;
	border-color: rgb(214, 216, 216);
	background-color: rgb(216, 218, 229);
    color: aliceblue;
}
.btn_my1{
    width: 136px;
    display: inline-block;
    padding: 2px 11px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none!important;
    border-color: rgb(214, 216, 216);
    background-color: rgb(216, 218, 229);
    color: aliceblue;
}


.pad{
    padding: 0px !important;
}
.btn_my_marc{
    width: 158px;
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none!important;
    border-color: rgb(214, 216, 216);
    background-color: rgb(216, 218, 229);
    color: aliceblue;
}
.mytitle{
	margin-top: 7px;
}
.mydiv b{
	color: rgb(35, 174, 199) !important;
}
.position{
    position: absolute;
    margin-left: 790px;
    text-decoration: blink;
}
.delete{
    margin-left: 715px;
    position: absolute;
    background-color: #EC1F24;
    text-decoration: blink;
}
.delete1{
    background-color: #EC1F24;
    text-decoration: blink;
}
.cont{
    width: 900px;
    height: 210px;
    border: 1px solid #6AC6EE;
    margin-bottom: 8px;
}
.cont1{
    width: 900px;
    height: 50px;
    border: 1px solid #899196;
    margin-bottom: 8px;
}
.wid{
    width: 180px;
    float: left;
}
.lebphone{
    margin-left: 201px;
    margin-top: -7px;
}
.lebloc{
    margin-top: 8px;
}
.let{
    margin-left: 421px;
}
/*------------------------------------------------------------------*/

.block1{
    float: left;
    width: 170px;
    height: 210px;
    padding-left: 9px;
}
#logo{    
    color: #53A2B5;
}

.img{
    border: 1px solid #c7c7c7;
    background-color: #EFEFEF;
    width: 158px;
    height: 158px;
    margin-bottom: 3px;
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    text-align: center;
}
.img1{
    border: 1px solid #c7c7c7;
    background-color: #EFEFEF;
    width: 106px;
    height: 106px;
    display: block;
    white-space: nowrap;
    text-align: center;
}
.bold{
    margin-left: 4px;
    color: #000;
    font-weight: bold;
}
.price_red{
    color: #d61111;
    font-size: 14px;
    float: right;
    padding-right: 9px;
}
.border{
	border: 1px solid #d9d9db;
	height: 198px;
	width: 1000px;
}
.top{
	width: 1002px;
	height: 28px;
	background-color: rgb(134, 134, 134);
}
button{
	cursor: pointer;
	height: 20px;
	width: 20px;
	background-color: rgb(207, 0, 0);
	color: aliceblue;
	border: 1px solid #CF0000;
	border-radius: 7px;
}
.bat{
	  float: right;
  padding-right: 15px;
  padding-top: 4px;
}
.helper2{
    display: inline-block;
    height: 100%;
    margin-left: -4px;
    vertical-align: middle;
}
.wi1{
    width: 950px !important;
}
.wi1 h2{
    color: #24AEC7;
}
